<a href="https://colab.research.google.com/github/Serin-Yoon/deeplearning-for-everyone/blob/master/Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

data = {'name': ['Serin', 'Irene', 'Wendy', 'Seulgi', 'Joy', 'Yeri'],
        'major': ['ComEdu', 'Software', 'Math', 'Physics', 'Biology', 'Act'],
        'grade': [2, 4, 4, 3, 3, 2]}

df = pd.DataFrame(data)
df

     name     major  grade
0   Serin    ComEdu      2
1   Irene  Software      4
2   Wendy      Math      4
3  Seulgi   Physics      3
4     Joy   Biology      3
5    Yeri       Act      2